openapi: 3.2.0
info:
  title: temp.md Public Safety API
  version: 1.0.0
  description: Publish agent-made files and applications to one canonical URL, update them atomically, and recover owner credentials without changing the shared link.
  termsOfService: https://temp.md/terms
  license:
    name: API terms
    url: https://temp.md/terms
servers:
- url: https://api.temp.md
  description: Production
tags:
- name: Safety
paths:
  /abuse-reports:
    post:
      operationId: reportAbuse
      summary: Report unsafe content
      tags:
      - Safety
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - url
              - category
              properties:
                url:
                  type: string
                  format: uri
                category:
                  enum:
                  - phishing
                  - malware
                  - spam
                  - copyright
                  - privacy
                  - other
                details:
                  type: string
                  maxLength: 4000
                contactEmail:
                  type: string
                  format: email
                  maxLength: 254
              additionalProperties: false
      responses:
        '201':
          $ref: '#/components/responses/SuccessObject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          $ref: '#/components/responses/TooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
            minimum: 0
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    SuccessObject:
      description: Successful response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    TooLarge:
      description: Request or bundle exceeds an enforced limit
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: string
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
        docs_url:
          type: string
          format: uri
        retry_after:
          type: integer
          minimum: 0
      additionalProperties: true
  securitySchemes:
    tempCapability:
      type: http
      scheme: bearer
      bearerFormat: tempmd scoped capability
    publishSessionToken:
      type: http
      scheme: bearer
      bearerFormat: tempmd_upload session capability
    accountBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT or tempmd_key API key
externalDocs:
  description: temp.md documentation
  url: https://temp.md/docs
