openapi: 3.2.0
info:
  title: Temp Md Health API
  version: 1.0.0
  license:
    name: API terms
    url: https://temp.md/terms
  termsOfService: https://temp.md/terms
  description: 'Operations tagged Health across 2 of this provider''s published API definitions: temp-md-openapi.json, temp-md-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.temp.md
  description: Production
tags:
- name: Health
paths:
  /health:
    get:
      operationId: getHealth
      summary: Check API health
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                required:
                - ok
                - env
                properties:
                  ok:
                    const: true
                  env:
                    type: string
      tags:
      - Health
    servers:
    - url: https://api.temp.md
      description: Production
components:
  securitySchemes:
    tempCapability:
      type: http
      scheme: bearer
      bearerFormat: tempmd scoped capability
    publishSessionToken:
      type: http
      scheme: bearer
      bearerFormat: tempmd_upload session capability
    accountBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT or tempmd_key API key
externalDocs:
  description: temp.md documentation
  url: https://temp.md/docs
x-refined-from:
- temp-md-openapi.json
- temp-md-openapi.yml
