openapi: 3.2.0
info:
  title: Temp.md Embedded Preview Platform Review Requests API
  version: 0.1.0
  description: Versioned partner API for creating and governing previews on behalf of opaque end customers. Application keys are server credentials; browser publishers must use short-lived publish grants.
servers:
- url: https://api.temp.md
tags:
- name: Review Requests
paths:
  /v1/review-requests/{reviewRequestId}:
    get:
      operationId: getReviewRequest
      summary: Open a signed review request
      security:
      - reviewBearer: []
      parameters:
      - name: reviewRequestId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Frozen review request and decisions
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      tags:
      - Review Requests
  /v1/review-requests/{reviewRequestId}/decisions:
    post:
      operationId: createReviewDecision
      summary: Approve or request changes on a frozen Version
      security:
      - reviewBearer: []
      parameters:
      - name: reviewRequestId
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Append-only review decision
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      tags:
      - Review Requests
components:
  responses:
    Error:
      description: Structured error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
      - error
      - code
      properties:
        error:
          type: string
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
  securitySchemes:
    dashboardBearer:
      type: http
      scheme: bearer
      description: A Temp.md dashboard session or personal account API key.
    applicationBearer:
      type: http
      scheme: bearer
      bearerFormat: tempmd_app_<id>_<secret>
      description: Server-only Application key with explicit scopes.
    publishGrantBearer:
      type: http
      scheme: bearer
      bearerFormat: tempmd_grant_<id>_<secret>
      description: Short-lived, one-session delegated publishing authority.
    reviewBearer:
      type: http
      scheme: bearer
      bearerFormat: tempmd_view_<id>_<secret>
      description: Short-lived viewer capability bound to one frozen review request.
