openapi: 3.2.0
info:
  title: Temp Md Publish Grants API
  version: 0.1.0
  description: 'Operations tagged Publish Grants across 2 of this provider''s published API definitions: temp-md-platform-openapi.json, temp-md-platform-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.temp.md
tags:
- name: Publish Grants
paths:
  /v1/publish-grants:
    post:
      operationId: createPublishGrant
      summary: Mint one short-lived delegated browser publish grant
      description: Application keys are server-only. Return the grant, not the Application key, to a browser or Electron renderer.
      security:
      - applicationBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePublishGrant'
      responses:
        '201':
          description: One-time publish grant
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      tags:
      - Publish Grants
    servers:
    - url: https://api.temp.md
  /v1/publish-grants/{grantId}:
    delete:
      operationId: revokePublishGrant
      summary: Revoke a delegated publish grant
      security:
      - applicationBearer: []
      parameters:
      - name: grantId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Grant revoked
        '404':
          $ref: '#/components/responses/Error'
      tags:
      - Publish Grants
    servers:
    - url: https://api.temp.md
components:
  schemas:
    Error:
      type: object
      required:
      - error
      - code
      properties:
        error:
          type: string
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
    CreatePublishGrant:
      type: object
      required:
      - operation
      properties:
        operation:
          enum:
          - create
          - update
        previewId:
          type: string
        externalSubjectId:
          type: string
          maxLength: 200
        externalProjectId:
          type: string
          maxLength: 200
        ttlSeconds:
          type: integer
          minimum: 60
          maximum: 900
        maxFiles:
          type: integer
          minimum: 1
          maximum: 100
        maxFileBytes:
          type: integer
          minimum: 1
          maximum: 10485760
        maxTotalBytes:
          type: integer
          minimum: 1
          maximum: 52428800
  responses:
    Error:
      description: Structured error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    dashboardBearer:
      type: http
      scheme: bearer
      description: A Temp.md dashboard session or personal account API key.
    applicationBearer:
      type: http
      scheme: bearer
      bearerFormat: tempmd_app_<id>_<secret>
      description: Server-only Application key with explicit scopes.
    publishGrantBearer:
      type: http
      scheme: bearer
      bearerFormat: tempmd_grant_<id>_<secret>
      description: Short-lived, one-session delegated publishing authority.
    reviewBearer:
      type: http
      scheme: bearer
      bearerFormat: tempmd_view_<id>_<secret>
      description: Short-lived viewer capability bound to one frozen review request.
x-refined-from:
- temp-md-platform-openapi.json
- temp-md-platform-openapi.yml
