openapi: 3.2.0
info:
  title: Temp.md Embedded Preview Platform Publish Sessions API
  version: 0.1.0
  description: Versioned partner API for creating and governing previews on behalf of opaque end customers. Application keys are server credentials; browser publishers must use short-lived publish grants.
servers:
- url: https://api.temp.md
tags:
- name: Publish Sessions
paths:
  /v1/publish-sessions:
    post:
      operationId: createPlatformPublishSession
      summary: Create or update a Preview through the resumable protocol
      description: Server requests may use an Application key. Requests with an Origin header must use a publish grant. Upload and finalize URLs returned by this operation use a narrower upload capability.
      security:
      - applicationBearer: []
      - publishGrantBearer: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        schema:
          type: string
          maxLength: 128
      responses:
        '201':
          description: Publish session and scoped upload targets
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
      tags:
      - Publish Sessions
components:
  responses:
    Error:
      description: Structured error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
      - error
      - code
      properties:
        error:
          type: string
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
  securitySchemes:
    dashboardBearer:
      type: http
      scheme: bearer
      description: A Temp.md dashboard session or personal account API key.
    applicationBearer:
      type: http
      scheme: bearer
      bearerFormat: tempmd_app_<id>_<secret>
      description: Server-only Application key with explicit scopes.
    publishGrantBearer:
      type: http
      scheme: bearer
      bearerFormat: tempmd_grant_<id>_<secret>
      description: Short-lived, one-session delegated publishing authority.
    reviewBearer:
      type: http
      scheme: bearer
      bearerFormat: tempmd_view_<id>_<secret>
      description: Short-lived viewer capability bound to one frozen review request.
